<ion-view view-title="Media">
  <ion-content>
    <div class="details">
      <h3>Media</h3>
      <p>
      Media!! {{recordingStatus}}
      </p>
      <h4 ng-click="startRecord()">startRecord</h4>
      <h4 ng-click="stopRecord()">stopRecord</h4>

      <ion-item ng-repeat="record in records">
        <h3>{{record.src}}</h3>
        <p>{{record.getDuration()}}</p>
      </ion-item>

      <h3>Media Capture</h3>
      <h4 ng-click="captureImage()">captureImage</h4>
      <p>aaa</p>
      <h4 ng-click="captureAudio()">captureAudio</h4>
      <p>bbb</p>
    </div>
  </ion-content>
</ion-view>
