<ion-view view-title="Media">
  <ion-content>
    <div class="details">
      <h3>Media</h3>
      <p>
      Media!! {{recordingStatus}}
      </p>
      <button ng-click="startRecord()" ng-if="stopped" class="button button-balanced">startRecord</button>
      <button ng-click="stopRecord()" ng-if="!stopped()" class="button button-energized">stopRecord</button>

      <div class="list">
        <ion-item ng-repeat="record in records">
          <h3>{{record.name}}</h3>
          <p>{{record.size}}</p>
          <p>{{record.lastModifiedDate}}</p>
        </ion-item>
      </div>

      <h3>Media Capture</h3>
      <button ng-click="captureImage()" class="button button-positive">captureImage</button>
      <!-- <p>aaa</p> -->
      <button ng-click="captureAudio()" class="button button-royal">captureAudio</button>
      <!-- <p>bbb</p> -->
    </div>
  </ion-content>
</ion-view>
