<ion-view view-title="ToDo" ng-controller="TodoCtrl">
  <ion-nav-buttons side="right">
    <!-- New Task button -->
    <button class="button button-icon" ng-click="newTask()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-checkbox ng-repeat="task in tasks" ng-model="task.checked" ng-checked="task.checked">
      {{ task.title }}
    </ion-checkbox>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <a ng-click="submit()" class="button button-icon icon ion-checkmark"> 登録</a>
  </ion-footer-bar>
</ion-view>